@page
@model Task.Pages.auth.Login2Model
@{
    Layout = "_LayoutAuthentication";
}
<div>
    <p style="color:red">@TempData["Error"]</p>
</div>
<div class="login-page">
    <div class="form">
        <form class="login-form" method="post">
            <div>
                <label asp-for="Username"></label>
                <input asp-for="Username" type="text" placeholder="Enter your username" />
                <span asp-validation-for="Username" class="text-danger"></span> *
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" type="text" placeholder="Enter your full name" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit">Login</button>
            <p class="message">Not registered? <a href="/auth/Register">Go to Register page</a></p>
        </form>
    </div>
</div> 