<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="CssLayoutAuthentication" />
</head>
<body>
    <div class="login-page">

        <div>
            @RenderBody()
        </div>
    </div>

</body>
</html>
